.p {
  &x {
    &-2 {
      padding: 0 8px;
    }
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.w {
  &-256 {
    width: 400px;
  }
}

.text-bold {
  font-weight: bold !important;
}
